$total-lines: 6;
$left-offset: 15px;
$clip-height: 130px;
$line-height: $clip-height - 5px;
.Words {
    margin: 0 auto;
    padding: 0px 0;
    font-family: 'IBM Plex Sans';
    font-size: 116px;
    font-weight: 700;
    letter-spacing: -8px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
  }
  .Words-line {
    height: $clip-height;
    overflow: hidden;
    position: relative;
    
    // Change the perspective of each alternating line
    &:nth-child(odd) {
      transform: skew(60deg, -30deg) scaleY(.66667);
    }
    &:nth-child(even) {
      transform: skew(0deg, -30deg) scaleY(1.43333);
      -webkit-transform: skew(0deg, -30deg) scaleY(1.43333);
      -moz-transform: skew(0deg, -30deg) scaleY(1.43333);
      -ms-transform: skew(0deg, -30deg) scaleY(1.43333);
      -o-transform: skew(0deg, -30deg) scaleY(1.43333);
}
    
    // Loop over the total lines and apply a left offset
    @for $i from 1 through $total-lines+1 {
      &:nth-child(#{$i}) {
        left: $left-offset * $i;
      }
    }
  }
  
  
  /*
  ** Fine-grained text styles
  */
  .Words-animation {
    height: $clip-height;
    line-height: $line-height;
    padding: 0 10px;
    transition: all .4s ease-in-out;
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap;
  }
  
  
  /*
  ** The hover interaction
  */
  .Words:hover {
    p {
      transform: translate3d(0, -($clip-height), 0);
    }
  }



