html,
body {
    font-family: "IBM Plex Sans";
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#page_one {
    background-color: #1D1D1D;
}

.menu_panel {
    font-weight: bold;
    color: white;
}

.navbar-toggler-icon {
    content: url("../img/white-menu.png");
    width: 40px;
    height: 40px;
}

.logo {
    margin-left: 62px;
}

.phone_numbers {
    margin-top: 10px;
    color: #B0140E;
    font-size: 12px;
    line-height: 20px;
    word-break: normal;
    padding-left: 94px;
}

.rus {
    font-size: 12px;
    font-weight: bold;
    padding-left: 52px;
}

.actual {
    padding-left: 166px;
}

.ring {
    margin-left: 36px;
    margin-top: -10px;
}

.oval {
    margin-top: -5px;
    height: 16px;
    width: 16px;
    background-color: #B0140E;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 34px;

}

.two {
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-size: 7px;
    line-height: 7px;
    padding-top: 5px;
}

a {
    color: white;
}

.nav-link {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    word-spacing: 0.2em;
    padding-left: 1px;
}

.nav-link:hover {
    color: #B0140E;
}

.nav {
    margin-top: -20px;
    padding-left: 110px;

}

.actual .nav ul {
    margin: 0;
    padding: 0;
}

.animation {
    position: relative;
    color: white;
    bottom: 230px;
    left: -50px;
}

.btn-primary {
    background-color: #B0140E;
    border: 0px;
    height: 60px;
    width: 260px;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 42px;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #1D1D1D;
    border: 0px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.arrow-down {
    position: relative;
    left: 65px;
    bottom: -35px;
}
.info {
    position: relative;
    bottom: 125px;
    right: 90px;
}

h5 {
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

h4 {
    opacity: 0.2;
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.mail {
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 34px;
}