.Words {
  margin: 0 auto;
  padding: 0px 0;
  font-family: 'IBM Plex Sans';
  font-size: 116px;
  font-weight: 700;
  letter-spacing: -8px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%; }

.Words-line {
  height: 130px;
  overflow: hidden;
  position: relative; }
  .Words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667); }
  .Words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.43333);
    -webkit-transform: skew(0deg, -30deg) scaleY(1.43333);
    -moz-transform: skew(0deg, -30deg) scaleY(1.43333);
    -ms-transform: skew(0deg, -30deg) scaleY(1.43333);
    -o-transform: skew(0deg, -30deg) scaleY(1.43333); }
  .Words-line:nth-child(1) {
    left: 15px; }
  .Words-line:nth-child(2) {
    left: 30px; }
  .Words-line:nth-child(3) {
    left: 45px; }
  .Words-line:nth-child(4) {
    left: 60px; }
  .Words-line:nth-child(5) {
    left: 75px; }
  .Words-line:nth-child(6) {
    left: 90px; }
  .Words-line:nth-child(7) {
    left: 105px; }

/*
  ** Fine-grained text styles
  */
.Words-animation {
  height: 130px;
  line-height: 125px;
  padding: 0 10px;
  transition: all .4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap; }

/*
  ** The hover interaction
  */
.Words:hover p {
  transform: translate3d(0, -130px, 0); }

